*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    text-align: center;
    color: white;
}

h1{
    margin-top: 2rem;
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    background: white;
    font-size: 8vmin;
    font-weight: 700;
    color: #1e3c72;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.box:hover{
    transform: scale(1.05);
    background-color: #f0f8ff;
}

#resetbtn,
#newbtn{
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    background: #ff4b5c;
    border-radius: 0.8rem;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1.5rem;
    transition: 0.2s ease;
}

#resetbtn:hover,
#newbtn:hover{
    background: #ff1e38;
    transform: scale(1.05);
}

#msg{
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: bold;
}

.msgcontainer{
    height: 100vmin;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: rgba(0,0,0,0.6);
}

.hide {
    display: none;
}